* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid black;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post__btns {
  display: flex;
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  margin: 5px;
  border: 1px solid purple;
  cursor: pointer;
}

.page__current {
  border: 1px dashed purple;
  font-weight: bold;
}

.navbar {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border: 1px solid purple;
}

.navbar__links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar_item {
  margin-left: 30px;
}
